/* =========================================================
   IMDb Top 250 from 23 Feb 2026
   Source Icon: https://i.imgur.com/t087oGe.png
   ========================================================= */

.itemExternalLinks a[href*="imdb.com/title/tt0111161"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0068646"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0468569"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0071562"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0050083"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0167260"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0108052"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0120737"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0110912"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0060196"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0167261"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0109830"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0137523"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1375666"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0080684"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0133093"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0099685"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0816692"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0073486"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0114369"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0038650"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0102926"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0047478"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0120815"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0120689"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0317248"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0118799"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0103064"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0076759"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0088763"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0245429"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0253474"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0172495"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt6751668"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0095327"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0054215"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0110357"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0056058"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0407887"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt2582802"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0482571"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0120586"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0110413"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt9362722"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0095765"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0034583"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1675434"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0114814"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0078748"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1853728"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0027977"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0047396"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0064116"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0021749"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0078788"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0910970"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0209144"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt15239678"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0082971"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt4154756"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0405094"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt4633694"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0043014"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0051201"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0050825"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0081505"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0032553"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0361748"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt23849204"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0090605"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0057565"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1345836"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt4154796"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0119217"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt2380307"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0086879"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0114709"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt5311514"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0082096"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0364569"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0112573"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0119698"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0057012"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1187043"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0169547"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt8267604"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0045152"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt7286456"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0087843"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0091251"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0086190"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0180093"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0435761"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0044741"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt2106476"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1255953"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0338013"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0053604"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0056172"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0062622"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0105236"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0113277"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0086250"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0036775"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1049413"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0053125"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0986264"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0093058"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0022100"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0033467"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0211915"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0052357"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1832382"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0095016"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0056592"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0070735"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0097576"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0066921"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0017136"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt8579674"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0208092"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0119488"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0363163"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0993846"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt5074352"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0040522"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0120382"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt15398776"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt6966692"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1130884"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0055031"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0372784"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt8503618"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0059578"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0075314"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0107290"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0053291"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0469494"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0012349"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt10272386"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0042192"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0167404"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0089881"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0112641"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0477348"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0084787"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1745960"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1392214"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0266697"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0457430"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0105695"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0268978"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0040897"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0347149"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0266543"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0055630"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt4729430"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0057115"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0080678"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0071853"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0346336"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0046912"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt32820897"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0031381"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1305806"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0071315"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0120735"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0434409"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0264464"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt2096673"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0042876"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0252488"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt5027774"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0117951"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0050212"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1201607"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0097165"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt29623480"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1291584"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0116282"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0072684"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0081398"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0052618"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0405159"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1392190"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0118849"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt2119532"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1205489"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0096283"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt2024544"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt2278388"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0382932"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0112471"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0353969"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0083658"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0892769"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt10872600"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt2267998"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0198781"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0073195"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0107207"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1950186"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt3011894"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0015864"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0978762"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0015324"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0077416"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0046268"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0017925"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt3315342"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0075148"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0031679"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0047296"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0046438"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0325980"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0050986"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1895587"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0113247"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt5323662"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0088247"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0041959"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt26548265"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0059742"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt15097216"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0118715"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0036868"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0050976"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt3170832"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0381681"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0395169"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0091763"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0317705"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt30472557"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1028532"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0070047"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1979320"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0032138"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0092005"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0129167"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0019254"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0476735"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0058946"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt4016934"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0074958"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0035446"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1954470"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt0032551"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt4430212"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt1454029"]::before,
.itemExternalLinks a[href*="imdb.com/title/tt11032374"]::before
{
  background-image: url("https://cdn.jsdelivr.net/gh/chrissix666/Jellyfin-CSS-Mods@main/imdb-top250-icon.png") !important;
}
